<h1>Lista de Clientes</h1>
<div>
  <table>
      <thead>
          <tr>
              <td>Nome</td>
              <td>Telefone</td>
              <td>E-mail</td>
              <td>Ações</td>
          </tr>
      </thead>
      <tbody>
          @for (cliente of cliente$ | async; track cliente) {
              <tr>
                  <td>{{ cliente.nome }}</td>
                  <td>{{ cliente.telefone }}</td>
                  <td>{{ cliente.email }}</td>
                  <td class="botoes-tabela">
                    <div>
                      <button (click)="remover(cliente.id)">
                        <img src="recycle-bin.png">
                      </button>
                      <button (click)="remover(cliente.id)">
                        <img src="editing.png">
                      </button>
                    </div>
                  </td>
              </tr>
          }
      </tbody>
  </table>
</div>
<div class="botoes">
  <button>
    <img src="registro.png" alt="">
    Cadastrar
  </button>
  <button>
    <img src="cancelar.png">
    <span>Cancelar</span>
  </button>
</div>
